@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');


*, 
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'Poppins', sans-serif;

    --detraRed: #DA243A;
}



body{
  overflow-x: hidden;
  font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1600 - 320)));
  font-family: 'Poppins', sans-serif;
}

section{
  padding: 10% 10%;
}



.icon{
  cursor: pointer;
}

.cta{
  padding: 0 25px;
  background: white;
  border: 2px solid var(--detraRed);
  border-radius: 15px;
  white-space: nowrap;
  position: relative;
  font-weight: 600;
}


ul{
  list-style-type: none;
}

.text-span{
  color: var(--detraRed);
}

.social{
  display: none;
}

main{
  height: 100vh;
  background: url(images/vector_graphic_hero.jpg) -50px bottom no-repeat;
  background-size: 250px auto;
}

main header .container{
  padding: 0 10%;
}
/* hamburger menu */

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    width: 35px;
    z-index: 99;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .navbar-nav{
      display: none;
      position: absolute;
      
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 85vh;
      width: 100%;
      top: 116px;
      right: -100%;
      background: black;
  
      text-decoration: none;
      z-index: 10;
      

  }

  .navAnim{
    animation-name: showNav;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }


    @keyframes showNav{
        from{
            right: -100%;
        }

        to{
            right: 0;
        }
    }

    .mobile-menu-title{
      display: none;
      color: white !important;
      margin-bottom: 1em;
    }

.nav-link{
  text-transform: uppercase;
  color: white !important;
}

.contact-item{
  justify-content: center;
  margin-bottom: 2em;
}

.nav-link:hover{
  opacity: .9;
}

.nav-link::after{
  content: '';
  display: block;
  background-color: white;
  height: 2px;
  width: 0%;
  margin-top: 2px;
  transition: width .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.nav-link:hover::after{
  content: '';
  display: block;
  background-color: white;
  height: 2px;
  width: 100%;
  margin-top: 2px;
  transition: width .25s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
 
.hero-wrapper{
  position: relative;
  /* height: 82%; */
}

.hero{
  padding: 5% 10%;
}



.hero-content__right{
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.products-content__right > *,
.hero-content__right > *{
  margin-bottom: 2em;
  text-align: center;  
}

.products-content__right button,
.hero-content__right button{
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 5px 20px 5px 25px;
  line-height: 26px;
  margin: 0 auto;
}

.btn-icon{
  margin-left: 5px;
}

.scroll-container{
  position: absolute;
  left: 50%;
  bottom: 2%;
  width: 12px;
  height: 25px;
  background-color: transparent;
  border: 2px solid var(--detraRed);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  animation: jump 1.9s ease-in-out infinite;
}

.scroller{
  background-color: var(--detraRed);
  width: 55%;
  height: 8px;
  border-radius: 40px;
  margin-top: 5px;
}

@keyframes jump {
  0%{
    bottom: 2%;
  }

  50%{
    bottom: 4%;
  }

  100%{
    bottom: 2%;
  }
}

.cart-container{
  position: fixed;
  background-color: var(--detraRed);
  height: 50px;
  width: 45px;
  right: 0;
  bottom: 100px;
  border-radius: 25px 0 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  cursor: pointer;
  border: none;
}

  .cart{
    position: relative;
  }

    .cart span{
      display: none;
    }

    .cart img{
      position: relative;
      height: 25px;
      width: auto;
    }

.products > *{
  margin-bottom: 2em;
}

.products-content__right{
  display: flex;
  flex-flow:column;
}

.splide__track{
  width: 100%;
  
}

  .splide__track img{
    transform: scale(0.6);
    width: 100%;
  }

.splide__arrow{
  background-color: var(--detraRed);
 
}

.splide__arrow path{
  fill: white;
}

.splide__pagination__page.is-active{
  background: var(--detraRed);
}

.banner{
  background: url(images/banner.jpg)  no-repeat; 
  background-size: cover;
  padding:10%;

}

.benefits{
  flex-flow: column;
  align-items: center;
}

.benefits > li{
  margin-bottom: 2em;
}


.benefit > *{
  margin-bottom: 1em;

}

.benefit-icon img{
  position: relative;
  height: 50px;
  width: auto;
}

.benefits{
  padding-left: 0;
}

  .benefits:nth-last-of-type(li){
    margin-bottom: 0;
  }

.benefit{
  text-align: center;
  color: white;
}

.pre-news{
  position: relative;
  text-align: center;
  background: url(images/grapes_background.jpg) center center no-repeat;
  background-size: cover;
  color: white;
}

.pre-news-content{
  padding: 10px 20px;
  background: rgba( 0, 0, 0, 0.10 );
  box-shadow: 0 8px 32px 0 rgba(5, 70, 32, 0.37);
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  border: 1px solid rgba(216, 216, 216, 0.18);
}

  .grape-leaf{
    position: absolute;
    transform: scale(.3);
    left: -342px;
    top: -355px;
    z-index: 1;
  }

  .grape-leaf-flipped{
    display: none;
  }

.grapes-container{
  display: none;
}

.news header{
  text-align: center;
  margin-bottom: 6em;
}


.post{
  margin-bottom: 4em;
  max-width: 380px;
  text-align: center;
}

.post > *{
  margin-bottom: 1.25em;
}

.post-cta{
  background: transparent;
  border: none;
  color: var(--detraRed);
}

footer{
  background: url(images/footer_background.jpg) center center no-repeat;
  background-size: cover;
  padding: 10%;
  padding-bottom: 0;
  color: white;
  text-align: center;
}

.logo-footer{
  width: 140px;
  height: auto;
}


 

  footer h2{
    text-align: center;
    margin-bottom: 2em;
  }

  .company-desc{
    margin-bottom: 4em;
    align-items: center;
  }

.company-desc > *{
  margin-bottom: 1em;
}



 .contact-list:nth-last-of-type('li'){
   margin-bottom: 0;
 }

 .contact p{
   white-space: nowrap;
 }

 .contact-item{
   margin-bottom: 0;
 }

.contact-item img{
  margin-right: 10px;
}

.contact-list{
  padding-left: 0;
}

.copy{
  background: black;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 10px;
}

.copy p{
  margin-bottom: 0;
}

.para-detramax span,
.para-digistat span{
  font-weight: 600;
}




@media (min-width: 411px){
  .hero-content__right p{
    margin-bottom: 4em;
  }
}

@media(min-width: 500px){

  .logo-footer{
    margin-bottom: 3em;
  }

  .hero-wrapper{
    height: 70%;
  }

  .scroll-container{
    margin-bottom: 2em;
  }

  .splide__slide img{
    transform: scale(0.4);
  }

  .benefits{
    flex-flow: row;
    justify-content: space-evenly;
    margin-bottom: 0;
  }

  .benefits li{
    max-width: 160px;
    margin-bottom: 0;
  }

  .copy{
    display: flex;
    justify-content: space-between;
    padding: 1% 10%;
  }

  .company-desc{
    margin-bottom: 0;
  }

  footer{
    padding: 30px 10%;
  }


}


@media (min-width: 768px){

  .cta{
    padding: 5px 20px;
  }

   main{
    background: url(images/vector_graphic_hero.jpg) -50px bottom no-repeat;
    background-size: 500px auto;
  } 

  .menu{
    display: none;
  } 

  .navbar{
    margin-top: 2em;
  }

  .navbar .container{
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  

  .navbar-nav{
    display: flex;
    position: relative;
    background: transparent;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: unset;
    width: unset;
    top: 0;
    left: 0;
    color: unset;
    
  } 

  .nav-item{
    padding: 0px 10px;
  }

  .contact-item{
    margin-bottom: 0;
    background-color: var(--detraRed);
   
    border-radius: 25px;
  }

  

.nav-link {
    color: black !important;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 0;
    
  }

  .contact-item .nav-link{
    color: white !important;
  }


  .nav-link::after{
    background-color: var(--detraRed);
  }

  .nav-link:hover::after{
  
    background-color: var(--detraRed);

  }

  .contact-item a::after{
    content: "";
    background: transparent;
  }

  .contact-item:hover{
    background-color: black;
    transition: background-color .3s ease-out;
  }
    .contact-item a:hover::after{
      background: transparent;
    }



  

  .hero-content__right{
    margin-left: auto;
  
  }

  .social-icons-ul{
    display: none;
  }

    .hero-content__right button{
      margin: 0 auto 0 0;
    }


   .hero-content__right > *{
     text-align: left;
   }

   .scroll-container{
    margin-bottom: 1em;
  }

  .banner{
    padding: 5% 10%;
  }

  .pre-news{
    color: black;
    background: white;
    background-size: unset;
  }

    .pre-news h2{
      z-index: 1;
    }



  .grape-leaf{
    transform: scale(0.6);
    top: -270px;
  }

  .grape-leaf-flipped{
    display: block;
    position: absolute;
    transform: scale(0.6);
    right: -342px;
    top: -270px;
    z-index: 0;
  }

  .grapes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

    .grapes-container img{
      position: relative;
      width: auto;
      height: 80%;
      border-radius: 25px;
    }

  .pre-news-content{
    padding: 10px 20px;
    background: transparent;
    box-shadow: unset;
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
    border-radius: 0px;
    border: none;
  }

}

@media (min-width: 996px){

  section{
    padding: 2% 10%;
  }

  .products-content__right{
    justify-content: center;
    text-align: left;
  }

  .products-content__right :is(h2,p){
    text-align: left;
  }

  .products-content__right button{
    margin: 0 auto 0 0;
  }

  .cart-container{
    position: fixed;
    background-color: var(--detraRed);
 
    right: 15px;
    bottom: 100px;
    border-radius: 100%;
    display: flex;
   
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding: 45px;

    -webkit-box-shadow: 0px 5px 15px 0px rgba(218,36,58,0.32); 
    box-shadow: 0px 5px 20px 0px rgba(218,36,58,0.32);
  }
  
    .cart{
      position: relative;
      display: flex;
      flex-flow:column;
      text-align: center;
    }

    .cart img{
      position: relative;
      height: 25px;
      width: auto;
      margin-bottom: 5px;
    }

    .cart span{
      display: block;
      font-size: 12px;
      color: white;
      text-transform: uppercase;
      white-space: nowrap;
    }
  
    
    .splide__track img{
      transform: scale(.6);
    }
  
  footer{
    text-align: left;
    padding: 2.5% 10%;
  }

  .contact{
    display: flex;
    flex-flow: column;
    align-items: center;
  }

    .contact h2{
      margin-bottom: 1em;
    }

  .contact-item{
    display: flex;
    justify-content: flex-start;
  }
  .company-desc{
    align-items: unset;
  }

  .contact{
    justify-content: start;
    text-align: left;
  }
}

@media (min-width: 1140px){


  main{
    background: url(images/vector_graphic_hero.jpg) -50px bottom no-repeat;
    background-size: 600px auto;
  } 

  .banner{
    padding: 30px 10%;

  }

  .navbar-brand{
    margin: 0 auto 0 0;
  }

  .navbar-nav{
    justify-content: flex-end;
  }

  .nav-item{
    padding: 0 25px;
  }

  .products-content__right > p,
   .hero-content__right > p{
    margin-bottom: 1.25em;
  }

  h1,h2{
    margin-bottom: 1.25em;
  }


}

@media (min-width: 1400px){


    main{
      background: url(images/vector_graphic_hero.jpg) -50px bottom no-repeat;
      background-size: 750px auto;
    }

    .hero{
      padding: 5% 8%;
    }

    .cart-container{
      right: 5%;
  }
}

@media (min-width: 1600px){
  main{
    background: url(images/vector_graphic_hero.jpg) -50px bottom no-repeat;
    background-size: 900px auto;
  }

  main header .container{
    padding: 0;
  }


  .hero{
    padding: 5% 0%;
  }
}